.layoutClient {
  display: flex;
  flex-direction: column;
  min-height: 100svh; 
  background-color: #dad0c0;
}

.layoutClient > header,
.layoutClient > footer {
  flex-shrink: 0; 
  background-color: #928b75; 
}

.layoutClient > main {
  flex-grow: 1; 
  background-color: #e8e8e8;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  overflow-y: auto;
}
