.layoutLading {
   display: flex;
   flex-direction: column;
   min-height: 100svh; 
   background-color: #dad0c0;
 }
 
 .layoutLading > header,
 .layoutLading > footer {
   flex-shrink: 0; 
   background-color: #928b75; 
 }
 
 .layoutLading > main {
   flex-grow: 1; 
   background-image: url("../../../assets/img/bgLandingPage.jpg");
   background-size: cover; 
   background-position: center;
   background-repeat: no-repeat; 
   overflow-y: auto;
 }
 