.Layout__header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
   background-color: #928b75;
   color: #fff;
   height: 80px;
}

@media (max-width: 400px) {
   .Layout__header > .LogoName__brand h1{
      display: none;
   }
}
