.store{
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 
 .store__categories{
   width: 100%;
   height: 40px;
   background-color: #c5c1b8;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0px 60px;
 }

 .store__categories article{
   display: flex;
   align-items: center;
   color: #928b75;
   gap: 5px;
   cursor: pointer;
 }

 .store__categories article p{
   color: #000;
 }

 .store__content__galery{
    min-width: 300px;
    max-width: 1500px;
    width: 100%;
 }

 .store__content__cards{
  transform:  translateY(-60%);
  height: 100%;
  width: 100%;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
  gap: 16px;
  padding: 16px; 
  justify-items: center;
 }


 @media (max-width: 1300px) {
  .store__content__cards{
    transform:  translateY(-50px);
  }
}

@media (max-width: 1000px) {
  .store__categories article:not(:first-child){
    display: none;
  }
}
